---
layout: default
---
<div class="post">

  <article class="post-content">
      <div class="hide" id="sm-logo-wrap">
          <a href='/'>
              <img id="sm-atv-logo" src="{{ 'img/atv_blue-sm.png' | prepend: site.baseurl }}" alt='Austin Tech Videos logo' />
          </a>
      </div>


      <div id="ytbox" class='postcard full' videoid='{{page.videoid}}'>
          <div class='posttitle'> {{page.title}} </div>
          <div class='postcategory' category=" {{page.categories}} "> {{page.categories}} </div>
          <div class='posttimestamp'> </div>
          <div class='postcontent'>
              <div class='youtube-thumbnail'>
                  <iframe width='100%' height='100%' src='http://www.youtube.com/embed/{{page.videoid}}?rel=0' data-src='//www.youtube.com/embed/{{page.videoid}}?rel=0' frameborder='0' allowfullscreen></iframe>
              </div>
          </div>

      </div>

      {{ content }}
  </article>


</div>